@import url('https://fonts.googleapis.com/css?family=Poiret+One|Source+Sans+Pro');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-size: 110%;
    color: #ecf0f1;
    font-family: 'Source Sans Pro', sans-serif;
    background: radial-gradient(ellipse at bottom, #0F325AFF 0%, #001834FF 100%);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.main {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Poiret One', cursive;
    font-size: 4rem;
    margin-bottom: .5rem;
    width: 100%;
}

.sub-title {
    /*border-top: .1rem solid #fff;*/
    padding: 1rem 4rem;
    text-align: center;
}


/* CSS hack using multiple box-shadows to get them **Stars** */

.stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1983px 1070px #FFF, 1625px 734px #FFF, 1505px 1218px #FFF, 1288px 1382px #FFF, 1023px 982px #FFF, 184px 1501px #FFF, 1352px 1072px #FFF, 966px 577px #FFF, 1928px 1505px #FFF, 284px 1863px #FFF, 871px 390px #FFF, 1591px 1017px #FFF, 1919px 1315px #FFF, 1552px 697px #FFF, 1775px 1722px #FFF, 61px 321px #FFF, 1108px 1281px #FFF, 1795px 22px #FFF, 1808px 716px #FFF, 797px 374px #FFF, 796px 1149px #FFF, 952px 1px #FFF, 1361px 1185px #FFF, 1110px 1577px #FFF, 1058px 1925px #FFF, 160px 1987px #FFF, 1274px 1205px #FFF, 39px 85px #FFF, 1835px 484px #FFF, 495px 1670px #FFF, 986px 691px #FFF, 2px 1486px #FFF, 719px 805px #FFF, 1601px 89px #FFF, 591px 565px #FFF, 1317px 1604px #FFF, 1805px 1486px #FFF, 703px 236px #FFF, 1950px 1089px #FFF, 1527px 1923px #FFF, 1690px 36px #FFF, 1252px 245px #FFF, 343px 903px #FFF, 143px 874px #FFF, 939px 1705px #FFF, 1733px 372px #FFF, 362px 830px #FFF, 1580px 1181px #FFF, 251px 535px #FFF, 1666px 1111px #FFF, 1276px 1530px #FFF, 958px 1989px #FFF, 75px 987px #FFF, 256px 217px #FFF, 635px 1194px #FFF, 1004px 1546px #FFF, 1910px 878px #FFF, 520px 506px #FFF, 1000px 210px #FFF, 1455px 1027px #FFF, 417px 1714px #FFF, 1376px 674px #FFF, 1744px 1390px #FFF, 195px 283px #FFF, 621px 1638px #FFF, 962px 997px #FFF, 283px 1219px #FFF, 1591px 1953px #FFF, 160px 652px #FFF, 1430px 948px #FFF, 1589px 1722px #FFF, 614px 1305px #FFF, 167px 342px #FFF, 1172px 1861px #FFF, 1097px 1249px #FFF, 1094px 1743px #FFF, 1988px 1361px #FFF, 461px 694px #FFF, 1096px 584px #FFF, 1876px 1984px #FFF, 315px 245px #FFF, 441px 258px #FFF, 1219px 1887px #FFF, 480px 245px #FFF, 285px 819px #FFF, 1753px 1833px #FFF, 816px 1780px #FFF, 245px 1927px #FFF, 715px 1523px #FFF, 475px 1595px #FFF, 1162px 66px #FFF, 543px 1758px #FFF, 112px 1847px #FFF, 1604px 1243px #FFF, 1888px 1758px #FFF, 162px 1385px #FFF, 1587px 1863px #FFF, 1059px 48px #FFF, 1161px 1650px #FFF, 1881px 289px #FFF, 475px 363px #FFF, 160px 911px #FFF, 487px 291px #FFF, 496px 70px #FFF, 1107px 90px #FFF, 731px 1771px #FFF, 1517px 918px #FFF, 1013px 716px #FFF, 1832px 882px #FFF, 107px 393px #FFF, 1503px 1860px #FFF, 31px 94px #FFF, 1640px 1112px #FFF, 697px 1657px #FFF, 435px 81px #FFF, 1526px 1467px #FFF, 602px 1001px #FFF, 1409px 306px #FFF, 1631px 1005px #FFF, 302px 1886px #FFF, 1262px 522px #FFF, 1606px 776px #FFF, 1813px 1471px #FFF, 1784px 1953px #FFF, 499px 1841px #FFF, 805px 1191px #FFF, 786px 864px #FFF, 940px 1562px #FFF, 1016px 1362px #FFF, 1036px 961px #FFF, 1666px 173px #FFF, 1214px 979px #FFF, 54px 1293px #FFF, 231px 710px #FFF, 434px 1321px #FFF, 259px 1716px #FFF, 1463px 380px #FFF, 1406px 1130px #FFF, 913px 611px #FFF, 1489px 1218px #FFF, 1777px 61px #FFF, 967px 63px #FFF, 1598px 1504px #FFF, 1528px 1134px #FFF, 1641px 111px #FFF, 1980px 1181px #FFF, 945px 1698px #FFF, 430px 1617px #FFF, 482px 85px #FFF, 554px 1473px #FFF, 1112px 614px #FFF, 1030px 1349px #FFF, 1666px 1753px #FFF, 1049px 978px #FFF, 1817px 1144px #FFF, 759px 1687px #FFF, 1371px 1720px #FFF, 1393px 461px #FFF, 26px 983px #FFF, 85px 1821px #FFF, 1193px 321px #FFF, 240px 64px #FFF, 220px 973px #FFF, 607px 312px #FFF, 1102px 679px #FFF, 1314px 329px #FFF, 1802px 1079px #FFF, 1997px 85px #FFF, 782px 479px #FFF, 1647px 52px #FFF, 1945px 514px #FFF, 938px 351px #FFF, 1140px 1813px #FFF, 1348px 1582px #FFF, 1188px 1188px #FFF, 1494px 1341px #FFF, 1552px 834px #FFF, 1592px 1952px #FFF, 450px 98px #FFF, 581px 1213px #FFF, 1736px 1193px #FFF, 944px 1950px #FFF, 526px 1044px #FFF, 1869px 788px #FFF, 911px 1295px #FFF, 1521px 1135px #FFF, 1725px 1438px #FFF, 1691px 110px #FFF, 1903px 1777px #FFF, 643px 1826px #FFF, 222px 1810px #FFF, 1613px 1035px #FFF, 201px 24px #FFF, 1325px 557px #FFF, 1169px 1652px #FFF, 385px 290px #FFF, 1733px 168px #FFF, 1886px 438px #FFF, 1533px 315px #FFF, 388px 960px #FFF, 312px 1818px #FFF, 1605px 6px #FFF, 231px 1794px #FFF, 686px 1810px #FFF, 1301px 577px #FFF, 1583px 474px #FFF, 1916px 756px #FFF, 694px 1494px #FFF, 1877px 1341px #FFF, 25px 6px #FFF, 1717px 316px #FFF, 1906px 1307px #FFF, 1555px 316px #FFF, 699px 690px #FFF, 1335px 368px #FFF, 1871px 668px #FFF, 301px 492px #FFF, 1899px 747px #FFF, 680px 444px #FFF, 654px 1063px #FFF, 45px 1797px #FFF, 826px 281px #FFF, 1041px 1859px #FFF, 1690px 7px #FFF, 797px 1473px #FFF, 1697px 1680px #FFF, 1704px 572px #FFF, 144px 49px #FFF, 1099px 264px #FFF, 789px 1804px #FFF, 186px 741px #FFF, 306px 1496px #FFF, 473px 209px #FFF, 1763px 127px #FFF, 116px 288px #FFF, 450px 385px #FFF, 210px 457px #FFF, 1433px 1540px #FFF, 1766px 1459px #FFF, 1426px 215px #FFF, 1313px 296px #FFF, 410px 81px #FFF, 1809px 593px #FFF, 515px 216px #FFF, 1903px 1912px #FFF, 564px 1545px #FFF, 99px 302px #FFF, 164px 1465px #FFF, 1560px 801px #FFF, 1839px 663px #FFF, 191px 1903px #FFF, 5px 537px #FFF, 1150px 38px #FFF, 1310px 647px #FFF, 1257px 555px #FFF, 487px 1470px #FFF, 1769px 1121px #FFF, 1698px 1155px #FFF, 1176px 1916px #FFF, 1192px 583px #FFF, 1778px 1511px #FFF, 1330px 354px #FFF, 705px 737px #FFF, 449px 665px #FFF, 89px 1486px #FFF, 751px 1974px #FFF, 1733px 1742px #FFF, 1289px 1386px #FFF, 1621px 1363px #FFF, 571px 1861px #FFF, 1697px 1850px #FFF, 504px 624px #FFF, 889px 238px #FFF, 1627px 1435px #FFF, 1379px 1367px #FFF, 872px 550px #FFF, 472px 532px #FFF, 466px 1997px #FFF, 932px 1896px #FFF, 1044px 83px #FFF, 1262px 1593px #FFF, 1953px 1478px #FFF, 1127px 1716px #FFF, 325px 176px #FFF, 1742px 1505px #FFF, 1088px 288px #FFF, 1212px 472px #FFF, 1365px 985px #FFF, 1086px 803px #FFF, 256px 263px #FFF, 1300px 1444px #FFF, 1673px 201px #FFF, 188px 1133px #FFF, 404px 483px #FFF, 59px 1006px #FFF, 1013px 1651px #FFF, 947px 239px #FFF, 18px 178px #FFF, 1430px 1851px #FFF, 763px 1777px #FFF, 1737px 196px #FFF, 643px 977px #FFF, 1335px 1275px #FFF, 1513px 1200px #FFF, 497px 659px #FFF, 1929px 800px #FFF, 1481px 283px #FFF, 1232px 331px #FFF, 1518px 1754px #FFF, 515px 869px #FFF, 1127px 1290px #FFF, 726px 1453px #FFF, 864px 267px #FFF, 313px 1634px #FFF, 1562px 606px #FFF, 91px 1803px #FFF, 40px 1789px #FFF, 1097px 944px #FFF, 1949px 1949px #FFF, 17px 1495px #FFF, 1786px 93px #FFF, 577px 1866px #FFF, 1252px 546px #FFF, 564px 151px #FFF, 1096px 1675px #FFF, 1743px 1694px #FFF, 1332px 311px #FFF, 1935px 1625px #FFF, 1251px 900px #FFF, 840px 1126px #FFF, 763px 669px #FFF, 1414px 1146px #FFF, 32px 1287px #FFF, 950px 739px #FFF, 1730px 856px #FFF, 1032px 1754px #FFF, 155px 201px #FFF, 1999px 1250px #FFF, 1811px 1488px #FFF, 805px 281px #FFF, 875px 1358px #FFF, 1757px 86px #FFF, 1824px 605px #FFF, 429px 453px #FFF, 1955px 1159px #FFF, 19px 1874px #FFF, 1549px 109px #FFF, 1684px 145px #FFF, 1973px 685px #FFF, 338px 839px #FFF, 659px 46px #FFF, 1600px 344px #FFF, 838px 994px #FFF, 337px 1918px #FFF, 583px 740px #FFF, 687px 251px #FFF, 1900px 1031px #FFF, 1296px 449px #FFF, 1268px 592px #FFF, 383px 1226px #FFF, 868px 101px #FFF, 891px 67px #FFF, 1957px 940px #FFF, 74px 1445px #FFF, 1432px 898px #FFF, 430px 1783px #FFF, 954px 185px #FFF, 359px 1455px #FFF, 635px 1786px #FFF, 1186px 1259px #FFF, 1445px 1505px #FFF, 1177px 781px #FFF, 1407px 603px #FFF, 1257px 980px #FFF, 96px 562px #FFF, 1999px 1560px #FFF, 1153px 1554px #FFF, 1033px 672px #FFF, 1051px 546px #FFF, 753px 876px #FFF, 1763px 145px #FFF, 1704px 1207px #FFF, 34px 1261px #FFF, 817px 1041px #FFF, 247px 1674px #FFF, 121px 429px #FFF, 515px 570px #FFF, 1762px 1489px #FFF, 234px 940px #FFF, 1095px 1028px #FFF, 720px 1119px #FFF, 1238px 334px #FFF, 91px 113px #FFF, 147px 897px #FFF, 1029px 1805px #FFF, 1680px 1957px #FFF, 475px 1503px #FFF, 1557px 917px #FFF, 1458px 1762px #FFF, 612px 1707px #FFF, 1329px 393px #FFF, 160px 1167px #FFF, 1631px 1887px #FFF, 1125px 141px #FFF, 257px 376px #FFF, 809px 26px #FFF, 1349px 199px #FFF, 1805px 88px #FFF, 69px 1953px #FFF, 1206px 529px #FFF, 646px 227px #FFF, 1097px 1664px #FFF, 42px 1261px #FFF, 1604px 360px #FFF, 1939px 187px #FFF, 1220px 1264px #FFF, 1044px 995px #FFF, 1005px 16px #FFF, 1648px 1612px #FFF, 847px 1014px #FFF, 339px 1584px #FFF, 1329px 1304px #FFF, 961px 1970px #FFF, 711px 221px #FFF, 888px 566px #FFF, 53px 704px #FFF, 1369px 846px #FFF, 1261px 1775px #FFF, 737px 1277px #FFF, 1071px 1570px #FFF, 77px 1872px #FFF, 1268px 1501px #FFF, 598px 1640px #FFF, 1769px 297px #FFF, 1074px 656px #FFF, 1006px 1154px #FFF, 672px 1969px #FFF, 922px 243px #FFF, 622px 773px #FFF, 1875px 804px #FFF, 1873px 600px #FFF, 1844px 1794px #FFF, 1253px 1995px #FFF, 616px 1198px #FFF, 1829px 1743px #FFF, 1321px 504px #FFF, 1340px 566px #FFF, 1520px 1825px #FFF, 1696px 1333px #FFF, 537px 158px #FFF, 1106px 162px #FFF, 25px 514px #FFF, 1022px 422px #FFF, 1955px 391px #FFF, 1126px 1741px #FFF, 754px 905px #FFF, 1217px 1696px #FFF, 351px 270px #FFF, 950px 1260px #FFF, 1847px 658px #FFF, 23px 684px #FFF, 1295px 572px #FFF, 257px 1053px #FFF, 87px 303px #FFF, 798px 1748px #FFF, 1150px 142px #FFF, 48px 1641px #FFF, 1492px 1328px #FFF, 1385px 1766px #FFF, 296px 1726px #FFF, 1299px 1780px #FFF, 1316px 522px #FFF, 1953px 1526px #FFF, 1007px 1089px #FFF, 1824px 1598px #FFF, 1720px 480px #FFF, 555px 1942px #FFF, 367px 432px #FFF, 957px 1162px #FFF, 384px 1044px #FFF, 738px 618px #FFF, 1568px 1432px #FFF, 211px 788px #FFF, 198px 1761px #FFF, 745px 177px #FFF, 1700px 159px #FFF, 316px 498px #FFF, 65px 1610px #FFF, 1948px 1638px #FFF, 936px 1461px #FFF, 1656px 622px #FFF, 575px 1437px #FFF, 336px 1424px #FFF, 1215px 690px #FFF, 1641px 1542px #FFF, 998px 1685px #FFF, 952px 1274px #FFF, 1448px 1165px #FFF, 904px 1783px #FFF, 1788px 1404px #FFF, 1748px 1717px #FFF, 793px 922px #FFF, 1032px 355px #FFF, 1158px 38px #FFF, 1573px 1855px #FFF, 751px 1199px #FFF, 1284px 227px #FFF, 391px 416px #FFF, 55px 204px #FFF, 962px 1918px #FFF, 668px 1347px #FFF, 613px 1215px #FFF, 615px 732px #FFF, 1442px 1752px #FFF, 1086px 1779px #FFF, 532px 320px #FFF, 1228px 1321px #FFF, 1796px 1906px #FFF, 150px 715px #FFF, 1694px 1005px #FFF, 1509px 391px #FFF, 262px 303px #FFF, 1743px 909px #FFF, 1966px 1203px #FFF, 707px 1033px #FFF, 82px 1332px #FFF, 104px 794px #FFF, 246px 759px #FFF, 507px 1380px #FFF, 1227px 616px #FFF, 917px 1354px #FFF, 1941px 759px #FFF, 451px 852px #FFF, 17px 131px #FFF, 780px 476px #FFF, 816px 211px #FFF, 1039px 1245px #FFF, 1521px 1036px #FFF, 1509px 1542px #FFF, 1368px 960px #FFF, 1104px 1437px #FFF, 1171px 976px #FFF, 681px 1305px #FFF, 1741px 579px #FFF, 953px 704px #FFF, 1810px 328px #FFF, 1960px 1396px #FFF, 1098px 295px #FFF, 1409px 919px #FFF, 1830px 1176px #FFF, 492px 1063px #FFF, 1277px 515px #FFF, 602px 1546px #FFF, 1832px 236px #FFF, 1513px 274px #FFF, 1983px 794px #FFF, 2000px 1505px #FFF, 920px 382px #FFF, 1374px 1235px #FFF, 692px 310px #FFF, 1028px 1782px #FFF, 1007px 887px #FFF, 1492px 858px #FFF, 877px 1817px #FFF, 1024px 1942px #FFF, 658px 82px #FFF, 526px 742px #FFF, 755px 880px #FFF, 301px 1186px #FFF, 318px 31px #FFF, 1517px 1244px #FFF, 1996px 1126px #FFF, 464px 1861px #FFF, 334px 674px #FFF, 768px 1103px #FFF, 628px 890px #FFF, 1054px 1534px #FFF, 59px 1576px #FFF, 189px 693px #FFF, 16px 1097px #FFF, 563px 1186px #FFF, 428px 523px #FFF, 1047px 1231px #FFF, 1940px 1262px #FFF, 643px 971px #FFF, 611px 1794px #FFF, 1676px 21px #FFF, 1882px 1523px #FFF, 258px 1584px #FFF, 768px 295px #FFF, 1253px 1431px #FFF, 1855px 362px #FFF, 576px 987px #FFF, 1904px 470px #FFF, 895px 1390px #FFF, 771px 966px #FFF, 1034px 1815px #FFF, 203px 1292px #FFF, 566px 893px #FFF, 63px 913px #FFF, 1340px 1416px #FFF, 528px 967px #FFF, 1965px 444px #FFF, 1961px 132px #FFF, 1049px 577px #FFF, 459px 1031px #FFF, 261px 1780px #FFF, 1092px 1480px #FFF, 286px 759px #FFF, 1014px 1604px #FFF, 144px 1461px #FFF, 1180px 1694px #FFF, 1348px 613px #FFF, 518px 1479px #FFF, 478px 649px #FFF, 1303px 629px #FFF, 1713px 258px #FFF, 1912px 501px #FFF, 300px 227px #FFF, 989px 1068px #FFF, 197px 158px #FFF, 244px 420px #FFF, 889px 486px #FFF, 1517px 1812px #FFF, 965px 308px #FFF, 409px 1293px #FFF, 47px 1400px #FFF, 1473px 1150px #FFF, 311px 1711px #FFF, 1938px 1000px #FFF, 717px 1331px #FFF, 282px 881px #FFF, 1305px 382px #FFF, 1639px 52px #FFF, 1466px 1228px #FFF, 574px 26px #FFF, 1310px 899px #FFF, 15px 1795px #FFF, 1138px 941px #FFF, 1235px 1416px #FFF, 27px 375px #FFF, 1333px 1470px #FFF, 1462px 1837px #FFF, 1830px 1217px #FFF, 1521px 1848px #FFF, 730px 515px #FFF, 514px 1869px #FFF, 468px 1906px #FFF, 1931px 259px #FFF, 1612px 151px #FFF, 1495px 735px #FFF, 710px 1096px #FFF, 1976px 546px #FFF, 50px 741px #FFF, 1313px 381px #FFF, 54px 102px #FFF, 1873px 1009px #FFF, 1696px 688px #FFF, 626px 922px #FFF, 244px 1438px #FFF, 1746px 1787px #FFF, 1824px 1437px #FFF, 1730px 1219px #FFF, 785px 198px #FFF, 1174px 931px #FFF, 909px 517px #FFF, 1283px 662px #FFF, 1074px 194px #FFF, 847px 1945px #FFF, 113px 427px #FFF, 728px 352px #FFF, 1205px 1316px #FFF, 786px 668px #FFF, 64px 427px #FFF, 548px 1370px #FFF, 1102px 616px #FFF, 676px 1192px #FFF, 1652px 1264px #FFF, 649px 69px #FFF, 1593px 645px #FFF, 1651px 816px #FFF, 1914px 977px #FFF, 80px 1006px #FFF, 1252px 742px #FFF, 1291px 981px #FFF, 1325px 273px #FFF, 831px 1581px #FFF, 344px 1503px #FFF, 1885px 1849px #FFF, 745px 1030px #FFF, 764px 1396px #FFF, 1241px 829px #FFF, 1281px 160px #FFF, 1210px 1860px #FFF, 1998px 411px #FFF, 1752px 1816px #FFF, 21px 1656px #FFF, 1863px 1988px #FFF, 1860px 331px #FFF, 79px 512px #FFF;
    animation: animStar 50s linear infinite;
}

.stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1983px 1070px #FFF, 1625px 734px #FFF, 1505px 1218px #FFF, 1288px 1382px #FFF, 1023px 982px #FFF, 184px 1501px #FFF, 1352px 1072px #FFF, 966px 577px #FFF, 1928px 1505px #FFF, 284px 1863px #FFF, 871px 390px #FFF, 1591px 1017px #FFF, 1919px 1315px #FFF, 1552px 697px #FFF, 1775px 1722px #FFF, 61px 321px #FFF, 1108px 1281px #FFF, 1795px 22px #FFF, 1808px 716px #FFF, 797px 374px #FFF, 796px 1149px #FFF, 952px 1px #FFF, 1361px 1185px #FFF, 1110px 1577px #FFF, 1058px 1925px #FFF, 160px 1987px #FFF, 1274px 1205px #FFF, 39px 85px #FFF, 1835px 484px #FFF, 495px 1670px #FFF, 986px 691px #FFF, 2px 1486px #FFF, 719px 805px #FFF, 1601px 89px #FFF, 591px 565px #FFF, 1317px 1604px #FFF, 1805px 1486px #FFF, 703px 236px #FFF, 1950px 1089px #FFF, 1527px 1923px #FFF, 1690px 36px #FFF, 1252px 245px #FFF, 343px 903px #FFF, 143px 874px #FFF, 939px 1705px #FFF, 1733px 372px #FFF, 362px 830px #FFF, 1580px 1181px #FFF, 251px 535px #FFF, 1666px 1111px #FFF, 1276px 1530px #FFF, 958px 1989px #FFF, 75px 987px #FFF, 256px 217px #FFF, 635px 1194px #FFF, 1004px 1546px #FFF, 1910px 878px #FFF, 520px 506px #FFF, 1000px 210px #FFF, 1455px 1027px #FFF, 417px 1714px #FFF, 1376px 674px #FFF, 1744px 1390px #FFF, 195px 283px #FFF, 621px 1638px #FFF, 962px 997px #FFF, 283px 1219px #FFF, 1591px 1953px #FFF, 160px 652px #FFF, 1430px 948px #FFF, 1589px 1722px #FFF, 614px 1305px #FFF, 167px 342px #FFF, 1172px 1861px #FFF, 1097px 1249px #FFF, 1094px 1743px #FFF, 1988px 1361px #FFF, 461px 694px #FFF, 1096px 584px #FFF, 1876px 1984px #FFF, 315px 245px #FFF, 441px 258px #FFF, 1219px 1887px #FFF, 480px 245px #FFF, 285px 819px #FFF, 1753px 1833px #FFF, 816px 1780px #FFF, 245px 1927px #FFF, 715px 1523px #FFF, 475px 1595px #FFF, 1162px 66px #FFF, 543px 1758px #FFF, 112px 1847px #FFF, 1604px 1243px #FFF, 1888px 1758px #FFF, 162px 1385px #FFF, 1587px 1863px #FFF, 1059px 48px #FFF, 1161px 1650px #FFF, 1881px 289px #FFF, 475px 363px #FFF, 160px 911px #FFF, 487px 291px #FFF, 496px 70px #FFF, 1107px 90px #FFF, 731px 1771px #FFF, 1517px 918px #FFF, 1013px 716px #FFF, 1832px 882px #FFF, 107px 393px #FFF, 1503px 1860px #FFF, 31px 94px #FFF, 1640px 1112px #FFF, 697px 1657px #FFF, 435px 81px #FFF, 1526px 1467px #FFF, 602px 1001px #FFF, 1409px 306px #FFF, 1631px 1005px #FFF, 302px 1886px #FFF, 1262px 522px #FFF, 1606px 776px #FFF, 1813px 1471px #FFF, 1784px 1953px #FFF, 499px 1841px #FFF, 805px 1191px #FFF, 786px 864px #FFF, 940px 1562px #FFF, 1016px 1362px #FFF, 1036px 961px #FFF, 1666px 173px #FFF, 1214px 979px #FFF, 54px 1293px #FFF, 231px 710px #FFF, 434px 1321px #FFF, 259px 1716px #FFF, 1463px 380px #FFF, 1406px 1130px #FFF, 913px 611px #FFF, 1489px 1218px #FFF, 1777px 61px #FFF, 967px 63px #FFF, 1598px 1504px #FFF, 1528px 1134px #FFF, 1641px 111px #FFF, 1980px 1181px #FFF, 945px 1698px #FFF, 430px 1617px #FFF, 482px 85px #FFF, 554px 1473px #FFF, 1112px 614px #FFF, 1030px 1349px #FFF, 1666px 1753px #FFF, 1049px 978px #FFF, 1817px 1144px #FFF, 759px 1687px #FFF, 1371px 1720px #FFF, 1393px 461px #FFF, 26px 983px #FFF, 85px 1821px #FFF, 1193px 321px #FFF, 240px 64px #FFF, 220px 973px #FFF, 607px 312px #FFF, 1102px 679px #FFF, 1314px 329px #FFF, 1802px 1079px #FFF, 1997px 85px #FFF, 782px 479px #FFF, 1647px 52px #FFF, 1945px 514px #FFF, 938px 351px #FFF, 1140px 1813px #FFF, 1348px 1582px #FFF, 1188px 1188px #FFF, 1494px 1341px #FFF, 1552px 834px #FFF, 1592px 1952px #FFF, 450px 98px #FFF, 581px 1213px #FFF, 1736px 1193px #FFF, 944px 1950px #FFF, 526px 1044px #FFF, 1869px 788px #FFF, 911px 1295px #FFF, 1521px 1135px #FFF, 1725px 1438px #FFF, 1691px 110px #FFF, 1903px 1777px #FFF, 643px 1826px #FFF, 222px 1810px #FFF, 1613px 1035px #FFF, 201px 24px #FFF, 1325px 557px #FFF, 1169px 1652px #FFF, 385px 290px #FFF, 1733px 168px #FFF, 1886px 438px #FFF, 1533px 315px #FFF, 388px 960px #FFF, 312px 1818px #FFF, 1605px 6px #FFF, 231px 1794px #FFF, 686px 1810px #FFF, 1301px 577px #FFF, 1583px 474px #FFF, 1916px 756px #FFF, 694px 1494px #FFF, 1877px 1341px #FFF, 25px 6px #FFF, 1717px 316px #FFF, 1906px 1307px #FFF, 1555px 316px #FFF, 699px 690px #FFF, 1335px 368px #FFF, 1871px 668px #FFF, 301px 492px #FFF, 1899px 747px #FFF, 680px 444px #FFF, 654px 1063px #FFF, 45px 1797px #FFF, 826px 281px #FFF, 1041px 1859px #FFF, 1690px 7px #FFF, 797px 1473px #FFF, 1697px 1680px #FFF, 1704px 572px #FFF, 144px 49px #FFF, 1099px 264px #FFF, 789px 1804px #FFF, 186px 741px #FFF, 306px 1496px #FFF, 473px 209px #FFF, 1763px 127px #FFF, 116px 288px #FFF, 450px 385px #FFF, 210px 457px #FFF, 1433px 1540px #FFF, 1766px 1459px #FFF, 1426px 215px #FFF, 1313px 296px #FFF, 410px 81px #FFF, 1809px 593px #FFF, 515px 216px #FFF, 1903px 1912px #FFF, 564px 1545px #FFF, 99px 302px #FFF, 164px 1465px #FFF, 1560px 801px #FFF, 1839px 663px #FFF, 191px 1903px #FFF, 5px 537px #FFF, 1150px 38px #FFF, 1310px 647px #FFF, 1257px 555px #FFF, 487px 1470px #FFF, 1769px 1121px #FFF, 1698px 1155px #FFF, 1176px 1916px #FFF, 1192px 583px #FFF, 1778px 1511px #FFF, 1330px 354px #FFF, 705px 737px #FFF, 449px 665px #FFF, 89px 1486px #FFF, 751px 1974px #FFF, 1733px 1742px #FFF, 1289px 1386px #FFF, 1621px 1363px #FFF, 571px 1861px #FFF, 1697px 1850px #FFF, 504px 624px #FFF, 889px 238px #FFF, 1627px 1435px #FFF, 1379px 1367px #FFF, 872px 550px #FFF, 472px 532px #FFF, 466px 1997px #FFF, 932px 1896px #FFF, 1044px 83px #FFF, 1262px 1593px #FFF, 1953px 1478px #FFF, 1127px 1716px #FFF, 325px 176px #FFF, 1742px 1505px #FFF, 1088px 288px #FFF, 1212px 472px #FFF, 1365px 985px #FFF, 1086px 803px #FFF, 256px 263px #FFF, 1300px 1444px #FFF, 1673px 201px #FFF, 188px 1133px #FFF, 404px 483px #FFF, 59px 1006px #FFF, 1013px 1651px #FFF, 947px 239px #FFF, 18px 178px #FFF, 1430px 1851px #FFF, 763px 1777px #FFF, 1737px 196px #FFF, 643px 977px #FFF, 1335px 1275px #FFF, 1513px 1200px #FFF, 497px 659px #FFF, 1929px 800px #FFF, 1481px 283px #FFF, 1232px 331px #FFF, 1518px 1754px #FFF, 515px 869px #FFF, 1127px 1290px #FFF, 726px 1453px #FFF, 864px 267px #FFF, 313px 1634px #FFF, 1562px 606px #FFF, 91px 1803px #FFF, 40px 1789px #FFF, 1097px 944px #FFF, 1949px 1949px #FFF, 17px 1495px #FFF, 1786px 93px #FFF, 577px 1866px #FFF, 1252px 546px #FFF, 564px 151px #FFF, 1096px 1675px #FFF, 1743px 1694px #FFF, 1332px 311px #FFF, 1935px 1625px #FFF, 1251px 900px #FFF, 840px 1126px #FFF, 763px 669px #FFF, 1414px 1146px #FFF, 32px 1287px #FFF, 950px 739px #FFF, 1730px 856px #FFF, 1032px 1754px #FFF, 155px 201px #FFF, 1999px 1250px #FFF, 1811px 1488px #FFF, 805px 281px #FFF, 875px 1358px #FFF, 1757px 86px #FFF, 1824px 605px #FFF, 429px 453px #FFF, 1955px 1159px #FFF, 19px 1874px #FFF, 1549px 109px #FFF, 1684px 145px #FFF, 1973px 685px #FFF, 338px 839px #FFF, 659px 46px #FFF, 1600px 344px #FFF, 838px 994px #FFF, 337px 1918px #FFF, 583px 740px #FFF, 687px 251px #FFF, 1900px 1031px #FFF, 1296px 449px #FFF, 1268px 592px #FFF, 383px 1226px #FFF, 868px 101px #FFF, 891px 67px #FFF, 1957px 940px #FFF, 74px 1445px #FFF, 1432px 898px #FFF, 430px 1783px #FFF, 954px 185px #FFF, 359px 1455px #FFF, 635px 1786px #FFF, 1186px 1259px #FFF, 1445px 1505px #FFF, 1177px 781px #FFF, 1407px 603px #FFF, 1257px 980px #FFF, 96px 562px #FFF, 1999px 1560px #FFF, 1153px 1554px #FFF, 1033px 672px #FFF, 1051px 546px #FFF, 753px 876px #FFF, 1763px 145px #FFF, 1704px 1207px #FFF, 34px 1261px #FFF, 817px 1041px #FFF, 247px 1674px #FFF, 121px 429px #FFF, 515px 570px #FFF, 1762px 1489px #FFF, 234px 940px #FFF, 1095px 1028px #FFF, 720px 1119px #FFF, 1238px 334px #FFF, 91px 113px #FFF, 147px 897px #FFF, 1029px 1805px #FFF, 1680px 1957px #FFF, 475px 1503px #FFF, 1557px 917px #FFF, 1458px 1762px #FFF, 612px 1707px #FFF, 1329px 393px #FFF, 160px 1167px #FFF, 1631px 1887px #FFF, 1125px 141px #FFF, 257px 376px #FFF, 809px 26px #FFF, 1349px 199px #FFF, 1805px 88px #FFF, 69px 1953px #FFF, 1206px 529px #FFF, 646px 227px #FFF, 1097px 1664px #FFF, 42px 1261px #FFF, 1604px 360px #FFF, 1939px 187px #FFF, 1220px 1264px #FFF, 1044px 995px #FFF, 1005px 16px #FFF, 1648px 1612px #FFF, 847px 1014px #FFF, 339px 1584px #FFF, 1329px 1304px #FFF, 961px 1970px #FFF, 711px 221px #FFF, 888px 566px #FFF, 53px 704px #FFF, 1369px 846px #FFF, 1261px 1775px #FFF, 737px 1277px #FFF, 1071px 1570px #FFF, 77px 1872px #FFF, 1268px 1501px #FFF, 598px 1640px #FFF, 1769px 297px #FFF, 1074px 656px #FFF, 1006px 1154px #FFF, 672px 1969px #FFF, 922px 243px #FFF, 622px 773px #FFF, 1875px 804px #FFF, 1873px 600px #FFF, 1844px 1794px #FFF, 1253px 1995px #FFF, 616px 1198px #FFF, 1829px 1743px #FFF, 1321px 504px #FFF, 1340px 566px #FFF, 1520px 1825px #FFF, 1696px 1333px #FFF, 537px 158px #FFF, 1106px 162px #FFF, 25px 514px #FFF, 1022px 422px #FFF, 1955px 391px #FFF, 1126px 1741px #FFF, 754px 905px #FFF, 1217px 1696px #FFF, 351px 270px #FFF, 950px 1260px #FFF, 1847px 658px #FFF, 23px 684px #FFF, 1295px 572px #FFF, 257px 1053px #FFF, 87px 303px #FFF, 798px 1748px #FFF, 1150px 142px #FFF, 48px 1641px #FFF, 1492px 1328px #FFF, 1385px 1766px #FFF, 296px 1726px #FFF, 1299px 1780px #FFF, 1316px 522px #FFF, 1953px 1526px #FFF, 1007px 1089px #FFF, 1824px 1598px #FFF, 1720px 480px #FFF, 555px 1942px #FFF, 367px 432px #FFF, 957px 1162px #FFF, 384px 1044px #FFF, 738px 618px #FFF, 1568px 1432px #FFF, 211px 788px #FFF, 198px 1761px #FFF, 745px 177px #FFF, 1700px 159px #FFF, 316px 498px #FFF, 65px 1610px #FFF, 1948px 1638px #FFF, 936px 1461px #FFF, 1656px 622px #FFF, 575px 1437px #FFF, 336px 1424px #FFF, 1215px 690px #FFF, 1641px 1542px #FFF, 998px 1685px #FFF, 952px 1274px #FFF, 1448px 1165px #FFF, 904px 1783px #FFF, 1788px 1404px #FFF, 1748px 1717px #FFF, 793px 922px #FFF, 1032px 355px #FFF, 1158px 38px #FFF, 1573px 1855px #FFF, 751px 1199px #FFF, 1284px 227px #FFF, 391px 416px #FFF, 55px 204px #FFF, 962px 1918px #FFF, 668px 1347px #FFF, 613px 1215px #FFF, 615px 732px #FFF, 1442px 1752px #FFF, 1086px 1779px #FFF, 532px 320px #FFF, 1228px 1321px #FFF, 1796px 1906px #FFF, 150px 715px #FFF, 1694px 1005px #FFF, 1509px 391px #FFF, 262px 303px #FFF, 1743px 909px #FFF, 1966px 1203px #FFF, 707px 1033px #FFF, 82px 1332px #FFF, 104px 794px #FFF, 246px 759px #FFF, 507px 1380px #FFF, 1227px 616px #FFF, 917px 1354px #FFF, 1941px 759px #FFF, 451px 852px #FFF, 17px 131px #FFF, 780px 476px #FFF, 816px 211px #FFF, 1039px 1245px #FFF, 1521px 1036px #FFF, 1509px 1542px #FFF, 1368px 960px #FFF, 1104px 1437px #FFF, 1171px 976px #FFF, 681px 1305px #FFF, 1741px 579px #FFF, 953px 704px #FFF, 1810px 328px #FFF, 1960px 1396px #FFF, 1098px 295px #FFF, 1409px 919px #FFF, 1830px 1176px #FFF, 492px 1063px #FFF, 1277px 515px #FFF, 602px 1546px #FFF, 1832px 236px #FFF, 1513px 274px #FFF, 1983px 794px #FFF, 2000px 1505px #FFF, 920px 382px #FFF, 1374px 1235px #FFF, 692px 310px #FFF, 1028px 1782px #FFF, 1007px 887px #FFF, 1492px 858px #FFF, 877px 1817px #FFF, 1024px 1942px #FFF, 658px 82px #FFF, 526px 742px #FFF, 755px 880px #FFF, 301px 1186px #FFF, 318px 31px #FFF, 1517px 1244px #FFF, 1996px 1126px #FFF, 464px 1861px #FFF, 334px 674px #FFF, 768px 1103px #FFF, 628px 890px #FFF, 1054px 1534px #FFF, 59px 1576px #FFF, 189px 693px #FFF, 16px 1097px #FFF, 563px 1186px #FFF, 428px 523px #FFF, 1047px 1231px #FFF, 1940px 1262px #FFF, 643px 971px #FFF, 611px 1794px #FFF, 1676px 21px #FFF, 1882px 1523px #FFF, 258px 1584px #FFF, 768px 295px #FFF, 1253px 1431px #FFF, 1855px 362px #FFF, 576px 987px #FFF, 1904px 470px #FFF, 895px 1390px #FFF, 771px 966px #FFF, 1034px 1815px #FFF, 203px 1292px #FFF, 566px 893px #FFF, 63px 913px #FFF, 1340px 1416px #FFF, 528px 967px #FFF, 1965px 444px #FFF, 1961px 132px #FFF, 1049px 577px #FFF, 459px 1031px #FFF, 261px 1780px #FFF, 1092px 1480px #FFF, 286px 759px #FFF, 1014px 1604px #FFF, 144px 1461px #FFF, 1180px 1694px #FFF, 1348px 613px #FFF, 518px 1479px #FFF, 478px 649px #FFF, 1303px 629px #FFF, 1713px 258px #FFF, 1912px 501px #FFF, 300px 227px #FFF, 989px 1068px #FFF, 197px 158px #FFF, 244px 420px #FFF, 889px 486px #FFF, 1517px 1812px #FFF, 965px 308px #FFF, 409px 1293px #FFF, 47px 1400px #FFF, 1473px 1150px #FFF, 311px 1711px #FFF, 1938px 1000px #FFF, 717px 1331px #FFF, 282px 881px #FFF, 1305px 382px #FFF, 1639px 52px #FFF, 1466px 1228px #FFF, 574px 26px #FFF, 1310px 899px #FFF, 15px 1795px #FFF, 1138px 941px #FFF, 1235px 1416px #FFF, 27px 375px #FFF, 1333px 1470px #FFF, 1462px 1837px #FFF, 1830px 1217px #FFF, 1521px 1848px #FFF, 730px 515px #FFF, 514px 1869px #FFF, 468px 1906px #FFF, 1931px 259px #FFF, 1612px 151px #FFF, 1495px 735px #FFF, 710px 1096px #FFF, 1976px 546px #FFF, 50px 741px #FFF, 1313px 381px #FFF, 54px 102px #FFF, 1873px 1009px #FFF, 1696px 688px #FFF, 626px 922px #FFF, 244px 1438px #FFF, 1746px 1787px #FFF, 1824px 1437px #FFF, 1730px 1219px #FFF, 785px 198px #FFF, 1174px 931px #FFF, 909px 517px #FFF, 1283px 662px #FFF, 1074px 194px #FFF, 847px 1945px #FFF, 113px 427px #FFF, 728px 352px #FFF, 1205px 1316px #FFF, 786px 668px #FFF, 64px 427px #FFF, 548px 1370px #FFF, 1102px 616px #FFF, 676px 1192px #FFF, 1652px 1264px #FFF, 649px 69px #FFF, 1593px 645px #FFF, 1651px 816px #FFF, 1914px 977px #FFF, 80px 1006px #FFF, 1252px 742px #FFF, 1291px 981px #FFF, 1325px 273px #FFF, 831px 1581px #FFF, 344px 1503px #FFF, 1885px 1849px #FFF, 745px 1030px #FFF, 764px 1396px #FFF, 1241px 829px #FFF, 1281px 160px #FFF, 1210px 1860px #FFF, 1998px 411px #FFF, 1752px 1816px #FFF, 21px 1656px #FFF, 1863px 1988px #FFF, 1860px 331px #FFF, 79px 512px #FFF;
}

.stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1124px 1500px #FFF, 916px 1039px #FFF, 1281px 2000px #FFF, 1702px 518px #FFF, 246px 953px #FFF, 1889px 287px #FFF, 1438px 1139px #FFF, 1824px 1739px #FFF, 1090px 1205px #FFF, 1514px 392px #FFF, 87px 1797px #FFF, 342px 25px #FFF, 134px 1624px #FFF, 1246px 426px #FFF, 453px 559px #FFF, 609px 308px #FFF, 506px 972px #FFF, 684px 733px #FFF, 85px 1641px #FFF, 1576px 320px #FFF, 145px 809px #FFF, 1822px 1000px #FFF, 21px 1512px #FFF, 173px 1775px #FFF, 1283px 1564px #FFF, 224px 1353px #FFF, 451px 785px #FFF, 703px 1983px #FFF, 508px 1345px #FFF, 957px 1209px #FFF, 698px 162px #FFF, 159px 1835px #FFF, 712px 227px #FFF, 1234px 295px #FFF, 310px 958px #FFF, 889px 31px #FFF, 1321px 1156px #FFF, 501px 274px #FFF, 914px 96px #FFF, 1637px 1954px #FFF, 774px 1326px #FFF, 304px 550px #FFF, 1249px 425px #FFF, 649px 1851px #FFF, 723px 1114px #FFF, 1115px 1524px #FFF, 1937px 1932px #FFF, 44px 1353px #FFF, 850px 1872px #FFF, 1175px 1628px #FFF, 318px 248px #FFF, 291px 521px #FFF, 1246px 1707px #FFF, 1640px 1608px #FFF, 1961px 343px #FFF, 964px 1144px #FFF, 1729px 361px #FFF, 1493px 799px #FFF, 1503px 1030px #FFF, 426px 1162px #FFF, 991px 1700px #FFF, 697px 630px #FFF, 897px 1692px #FFF, 457px 1816px #FFF, 667px 729px #FFF, 1753px 1618px #FFF, 1132px 1095px #FFF, 954px 1846px #FFF, 1938px 1179px #FFF, 135px 434px #FFF, 1134px 1216px #FFF, 491px 543px #FFF, 525px 1114px #FFF, 1769px 1830px #FFF, 1641px 1422px #FFF, 873px 548px #FFF, 1519px 1249px #FFF, 934px 1084px #FFF, 753px 1528px #FFF, 1139px 478px #FFF, 1533px 356px #FFF, 264px 1956px #FFF, 899px 487px #FFF, 1932px 1084px #FFF, 1846px 64px #FFF, 46px 1255px #FFF, 102px 1775px #FFF, 678px 1579px #FFF, 1406px 368px #FFF, 1808px 32px #FFF, 741px 775px #FFF, 225px 1338px #FFF, 124px 731px #FFF, 411px 135px #FFF, 1640px 1276px #FFF, 54px 1998px #FFF, 1126px 1912px #FFF, 1896px 1754px #FFF, 819px 827px #FFF, 1063px 125px #FFF, 955px 1357px #FFF, 945px 1808px #FFF, 777px 1591px #FFF, 508px 1351px #FFF, 966px 983px #FFF, 168px 9px #FFF, 1700px 533px #FFF, 785px 1700px #FFF, 558px 749px #FFF, 56px 1463px #FFF, 1482px 371px #FFF, 1201px 1930px #FFF, 207px 240px #FFF, 538px 146px #FFF, 893px 1156px #FFF, 662px 973px #FFF, 1126px 641px #FFF, 354px 1792px #FFF, 1483px 1367px #FFF, 1032px 1516px #FFF, 322px 1338px #FFF, 1804px 1170px #FFF, 1899px 561px #FFF, 698px 1947px #FFF, 1377px 1501px #FFF, 1966px 1196px #FFF, 108px 1889px #FFF, 790px 1309px #FFF, 1206px 42px #FFF, 1903px 373px #FFF, 465px 113px #FFF, 1776px 1878px #FFF, 1363px 639px #FFF, 1142px 1969px #FFF, 1427px 840px #FFF, 212px 1412px #FFF, 1333px 1905px #FFF, 817px 261px #FFF, 1590px 1046px #FFF, 1139px 89px #FFF, 1852px 311px #FFF, 1618px 1155px #FFF, 387px 1975px #FFF, 290px 1660px #FFF, 1094px 957px #FFF, 1145px 1157px #FFF, 825px 1179px #FFF, 1456px 1133px #FFF, 1214px 922px #FFF, 290px 1880px #FFF, 852px 1027px #FFF, 275px 557px #FFF, 1115px 724px #FFF, 1713px 1698px #FFF, 1819px 1196px #FFF, 1778px 179px #FFF, 401px 610px #FFF, 1288px 1286px #FFF, 1603px 493px #FFF, 497px 306px #FFF, 457px 1005px #FFF, 675px 1814px #FFF, 850px 1719px #FFF, 467px 932px #FFF, 1312px 1366px #FFF, 812px 1643px #FFF, 356px 1170px #FFF, 1915px 787px #FFF, 1923px 1453px #FFF, 542px 860px #FFF, 1496px 832px #FFF, 1689px 90px #FFF, 1404px 73px #FFF, 991px 357px #FFF, 1534px 1469px #FFF, 1036px 822px #FFF, 595px 819px #FFF, 432px 1908px #FFF, 221px 1519px #FFF, 1744px 1507px #FFF, 505px 564px #FFF, 1220px 1959px #FFF, 544px 1880px #FFF, 744px 516px #FFF, 547px 307px #FFF, 1862px 247px #FFF, 1560px 410px #FFF, 736px 282px #FFF, 986px 1452px #FFF, 808px 1942px #FFF, 194px 1307px #FFF, 639px 842px #FFF, 717px 272px #FFF, 580px 103px #FFF, 566px 1916px #FFF, 1847px 91px #FFF, 1583px 629px #FFF, 1270px 1517px #FFF, 1452px 1905px #FFF, 1161px 1965px #FFF;
    animation: animStar 100s linear infinite;
}

.stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1124px 1500px #FFF, 916px 1039px #FFF, 1281px 2000px #FFF, 1702px 518px #FFF, 246px 953px #FFF, 1889px 287px #FFF, 1438px 1139px #FFF, 1824px 1739px #FFF, 1090px 1205px #FFF, 1514px 392px #FFF, 87px 1797px #FFF, 342px 25px #FFF, 134px 1624px #FFF, 1246px 426px #FFF, 453px 559px #FFF, 609px 308px #FFF, 506px 972px #FFF, 684px 733px #FFF, 85px 1641px #FFF, 1576px 320px #FFF, 145px 809px #FFF, 1822px 1000px #FFF, 21px 1512px #FFF, 173px 1775px #FFF, 1283px 1564px #FFF, 224px 1353px #FFF, 451px 785px #FFF, 703px 1983px #FFF, 508px 1345px #FFF, 957px 1209px #FFF, 698px 162px #FFF, 159px 1835px #FFF, 712px 227px #FFF, 1234px 295px #FFF, 310px 958px #FFF, 889px 31px #FFF, 1321px 1156px #FFF, 501px 274px #FFF, 914px 96px #FFF, 1637px 1954px #FFF, 774px 1326px #FFF, 304px 550px #FFF, 1249px 425px #FFF, 649px 1851px #FFF, 723px 1114px #FFF, 1115px 1524px #FFF, 1937px 1932px #FFF, 44px 1353px #FFF, 850px 1872px #FFF, 1175px 1628px #FFF, 318px 248px #FFF, 291px 521px #FFF, 1246px 1707px #FFF, 1640px 1608px #FFF, 1961px 343px #FFF, 964px 1144px #FFF, 1729px 361px #FFF, 1493px 799px #FFF, 1503px 1030px #FFF, 426px 1162px #FFF, 991px 1700px #FFF, 697px 630px #FFF, 897px 1692px #FFF, 457px 1816px #FFF, 667px 729px #FFF, 1753px 1618px #FFF, 1132px 1095px #FFF, 954px 1846px #FFF, 1938px 1179px #FFF, 135px 434px #FFF, 1134px 1216px #FFF, 491px 543px #FFF, 525px 1114px #FFF, 1769px 1830px #FFF, 1641px 1422px #FFF, 873px 548px #FFF, 1519px 1249px #FFF, 934px 1084px #FFF, 753px 1528px #FFF, 1139px 478px #FFF, 1533px 356px #FFF, 264px 1956px #FFF, 899px 487px #FFF, 1932px 1084px #FFF, 1846px 64px #FFF, 46px 1255px #FFF, 102px 1775px #FFF, 678px 1579px #FFF, 1406px 368px #FFF, 1808px 32px #FFF, 741px 775px #FFF, 225px 1338px #FFF, 124px 731px #FFF, 411px 135px #FFF, 1640px 1276px #FFF, 54px 1998px #FFF, 1126px 1912px #FFF, 1896px 1754px #FFF, 819px 827px #FFF, 1063px 125px #FFF, 955px 1357px #FFF, 945px 1808px #FFF, 777px 1591px #FFF, 508px 1351px #FFF, 966px 983px #FFF, 168px 9px #FFF, 1700px 533px #FFF, 785px 1700px #FFF, 558px 749px #FFF, 56px 1463px #FFF, 1482px 371px #FFF, 1201px 1930px #FFF, 207px 240px #FFF, 538px 146px #FFF, 893px 1156px #FFF, 662px 973px #FFF, 1126px 641px #FFF, 354px 1792px #FFF, 1483px 1367px #FFF, 1032px 1516px #FFF, 322px 1338px #FFF, 1804px 1170px #FFF, 1899px 561px #FFF, 698px 1947px #FFF, 1377px 1501px #FFF, 1966px 1196px #FFF, 108px 1889px #FFF, 790px 1309px #FFF, 1206px 42px #FFF, 1903px 373px #FFF, 465px 113px #FFF, 1776px 1878px #FFF, 1363px 639px #FFF, 1142px 1969px #FFF, 1427px 840px #FFF, 212px 1412px #FFF, 1333px 1905px #FFF, 817px 261px #FFF, 1590px 1046px #FFF, 1139px 89px #FFF, 1852px 311px #FFF, 1618px 1155px #FFF, 387px 1975px #FFF, 290px 1660px #FFF, 1094px 957px #FFF, 1145px 1157px #FFF, 825px 1179px #FFF, 1456px 1133px #FFF, 1214px 922px #FFF, 290px 1880px #FFF, 852px 1027px #FFF, 275px 557px #FFF, 1115px 724px #FFF, 1713px 1698px #FFF, 1819px 1196px #FFF, 1778px 179px #FFF, 401px 610px #FFF, 1288px 1286px #FFF, 1603px 493px #FFF, 497px 306px #FFF, 457px 1005px #FFF, 675px 1814px #FFF, 850px 1719px #FFF, 467px 932px #FFF, 1312px 1366px #FFF, 812px 1643px #FFF, 356px 1170px #FFF, 1915px 787px #FFF, 1923px 1453px #FFF, 542px 860px #FFF, 1496px 832px #FFF, 1689px 90px #FFF, 1404px 73px #FFF, 991px 357px #FFF, 1534px 1469px #FFF, 1036px 822px #FFF, 595px 819px #FFF, 432px 1908px #FFF, 221px 1519px #FFF, 1744px 1507px #FFF, 505px 564px #FFF, 1220px 1959px #FFF, 544px 1880px #FFF, 744px 516px #FFF, 547px 307px #FFF, 1862px 247px #FFF, 1560px 410px #FFF, 736px 282px #FFF, 986px 1452px #FFF, 808px 1942px #FFF, 194px 1307px #FFF, 639px 842px #FFF, 717px 272px #FFF, 580px 103px #FFF, 566px 1916px #FFF, 1847px 91px #FFF, 1583px 629px #FFF, 1270px 1517px #FFF, 1452px 1905px #FFF, 1161px 1965px #FFF;
}

.stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1106px 1979px #FFF, 1572px 505px #FFF, 25px 1324px #FFF, 650px 558px #FFF, 558px 1555px #FFF, 782px 1910px #FFF, 95px 1646px #FFF, 1794px 169px #FFF, 1104px 1373px #FFF, 965px 1386px #FFF, 1818px 948px #FFF, 1848px 760px #FFF, 1789px 937px #FFF, 761px 1565px #FFF, 945px 1788px #FFF, 1553px 93px #FFF, 1344px 281px #FFF, 832px 138px #FFF, 819px 412px #FFF, 386px 1164px #FFF, 36px 1157px #FFF, 1150px 651px #FFF, 63px 1824px #FFF, 338px 202px #FFF, 1203px 764px #FFF, 1825px 1211px #FFF, 204px 1892px #FFF, 228px 313px #FFF, 1511px 783px #FFF, 497px 522px #FFF, 744px 96px #FFF, 511px 1254px #FFF, 179px 1572px #FFF, 988px 411px #FFF, 1539px 1119px #FFF, 687px 1122px #FFF, 1615px 475px #FFF, 512px 399px #FFF, 816px 1040px #FFF, 341px 103px #FFF, 450px 505px #FFF, 1161px 742px #FFF, 1926px 1476px #FFF, 764px 1893px #FFF, 995px 1047px #FFF, 572px 593px #FFF, 143px 499px #FFF, 963px 861px #FFF, 575px 178px #FFF, 1492px 424px #FFF, 1890px 1467px #FFF, 612px 1453px #FFF, 573px 346px #FFF, 1151px 945px #FFF, 107px 45px #FFF, 345px 593px #FFF, 1659px 456px #FFF, 1984px 1612px #FFF, 1103px 350px #FFF, 696px 908px #FFF, 1227px 1093px #FFF, 1525px 1198px #FFF, 294px 648px #FFF, 955px 378px #FFF, 1553px 114px #FFF, 1355px 1009px #FFF, 911px 1568px #FFF, 1807px 27px #FFF, 933px 1952px #FFF, 493px 1501px #FFF, 1573px 1849px #FFF, 962px 471px #FFF, 1078px 1745px #FFF, 711px 381px #FFF, 1617px 574px #FFF, 666px 1277px #FFF, 1589px 1435px #FFF, 41px 21px #FFF, 1427px 252px #FFF, 748px 351px #FFF, 1826px 261px #FFF, 730px 1705px #FFF, 30px 459px #FFF, 953px 1573px #FFF, 725px 1653px #FFF, 1628px 1144px #FFF, 1070px 1879px #FFF, 362px 603px #FFF, 605px 714px #FFF, 749px 1979px #FFF, 1569px 1753px #FFF, 335px 491px #FFF, 1618px 1237px #FFF, 362px 1735px #FFF, 105px 489px #FFF, 806px 836px #FFF, 1523px 781px #FFF, 411px 1405px #FFF, 858px 220px #FFF, 273px 89px #FFF;
    animation: animStar 150s linear infinite;
}

.stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1106px 1979px #FFF, 1572px 505px #FFF, 25px 1324px #FFF, 650px 558px #FFF, 558px 1555px #FFF, 782px 1910px #FFF, 95px 1646px #FFF, 1794px 169px #FFF, 1104px 1373px #FFF, 965px 1386px #FFF, 1818px 948px #FFF, 1848px 760px #FFF, 1789px 937px #FFF, 761px 1565px #FFF, 945px 1788px #FFF, 1553px 93px #FFF, 1344px 281px #FFF, 832px 138px #FFF, 819px 412px #FFF, 386px 1164px #FFF, 36px 1157px #FFF, 1150px 651px #FFF, 63px 1824px #FFF, 338px 202px #FFF, 1203px 764px #FFF, 1825px 1211px #FFF, 204px 1892px #FFF, 228px 313px #FFF, 1511px 783px #FFF, 497px 522px #FFF, 744px 96px #FFF, 511px 1254px #FFF, 179px 1572px #FFF, 988px 411px #FFF, 1539px 1119px #FFF, 687px 1122px #FFF, 1615px 475px #FFF, 512px 399px #FFF, 816px 1040px #FFF, 341px 103px #FFF, 450px 505px #FFF, 1161px 742px #FFF, 1926px 1476px #FFF, 764px 1893px #FFF, 995px 1047px #FFF, 572px 593px #FFF, 143px 499px #FFF, 963px 861px #FFF, 575px 178px #FFF, 1492px 424px #FFF, 1890px 1467px #FFF, 612px 1453px #FFF, 573px 346px #FFF, 1151px 945px #FFF, 107px 45px #FFF, 345px 593px #FFF, 1659px 456px #FFF, 1984px 1612px #FFF, 1103px 350px #FFF, 696px 908px #FFF, 1227px 1093px #FFF, 1525px 1198px #FFF, 294px 648px #FFF, 955px 378px #FFF, 1553px 114px #FFF, 1355px 1009px #FFF, 911px 1568px #FFF, 1807px 27px #FFF, 933px 1952px #FFF, 493px 1501px #FFF, 1573px 1849px #FFF, 962px 471px #FFF, 1078px 1745px #FFF, 711px 381px #FFF, 1617px 574px #FFF, 666px 1277px #FFF, 1589px 1435px #FFF, 41px 21px #FFF, 1427px 252px #FFF, 748px 351px #FFF, 1826px 261px #FFF, 730px 1705px #FFF, 30px 459px #FFF, 953px 1573px #FFF, 725px 1653px #FFF, 1628px 1144px #FFF, 1070px 1879px #FFF, 362px 603px #FFF, 605px 714px #FFF, 749px 1979px #FFF, 1569px 1753px #FFF, 335px 491px #FFF, 1618px 1237px #FFF, 362px 1735px #FFF, 105px 489px #FFF, 806px 836px #FFF, 1523px 781px #FFF, 411px 1405px #FFF, 858px 220px #FFF, 273px 89px #FFF;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}
